<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/ppl-icon.png" class="ion-padding img1">
  </ion-card>

    <ion-label class="p1">Nombre</ion-label>
    <br><br>
    <ion-label class="p1">Correo</ion-label>
    <br><br>
    <ion-label class="p1">Ingrese su Nombre</ion-label>

</ion-content>
