<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="t1">AppRegistro</ion-card-subtitle>
    </ion-card-header> 
    <ion-card-content>  
      <ion-card>
        <img src="assets/duoc.png" class="ion-padding">
      </ion-card>
      <p class="p1">Esta aplicacion esta pensada para ayudar a los profesores y alumnos en contexto de pandemia para agilizar la toma de asistencia.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
