<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-title>Registro de asistencias</ion-title>
    <ion-item href="#" detail=false>
      <ion-icon slot="start" name="reader" color="primary"></ion-icon>
      <ion-label >clase ...</ion-label>
    </ion-item>

    <ion-item href="#" detail=false>
      <ion-icon slot="start" name="reader" color="primary"></ion-icon>
      <ion-label >clase ...</ion-label>
    </ion-item>

    <ion-item href="#" detail=false>
      <ion-icon slot="start" name="reader" color="primary"></ion-icon>
      <ion-label >clase ...</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
