<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-title>Generar QR</ion-title>
    <ion-item href="#" detail=false>
      <ion-icon slot="start" name="qr-code" color="primary"></ion-icon>
      <ion-label >clase seccion ....</ion-label>
    </ion-item>

    <ion-item href="#" detail=false>
      <ion-icon slot="start" name="qr-code" color="primary"></ion-icon>
      <ion-label >clase seccion ....</ion-label>
    </ion-item>

    <ion-item href="#" detail=false>
      <ion-icon slot="start" name="qr-code" color="primary"></ion-icon>
      <ion-label >clase seccion ....</ion-label>
    </ion-item>
  </ion-card>
    <ion-card>
      <ion-title>Registro asistencias</ion-title>
      <ion-item href="#">
        <ion-icon slot="start" name="reader" color="secondary"></ion-icon>
        <ion-label >registro</ion-label>
      </ion-item>
    </ion-card>
  
</ion-content>
